# Database
data.db

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Spiders
eden_crawler/spiders/*
!eden_crawler/spiders/__init__.py
!eden_crawler/spiders/ip.py

# Scrapy
.scrapy/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtual environment
.venv/
env/